<div>
<%= form.label :category_id, style: "display: block" %>
<%= form.select :category_id, categories.all.collect { |category| [category.name, category.id] } %>
<%= link_to 'New', new_category_path, data: {turbo_frame: "modal"}%>
</div>

